In [1]:
%load_ext lab_black

from puzzles import load
import pandas as pd

In [7]:
from scipy.stats import mode

In [10]:
df = pd.DataFrame([list(x) for x in load(6).strip().split("\n")])
df

     0  1  2  3  4  5  6  7
0    v  h  r  v  a  b  t  c
1    r  z  z  d  e  x  u  x
2    p  i  x  j  p  l  c  d
3    i  m  t  x  r  w  p  e
4    j  l  o  w  i  w  h  o
..  .. .. .. .. .. .. .. ..
619  i  f  s  y  n  w  c  y
620  o  d  c  g  k  n  n  c
621  o  m  c  s  c  l  g  b
622  z  h  j  r  u  c  w  j
623  z  l  o  e  y  d  h  r

[624 rows x 8 columns]

In [14]:
"".join([mode(df[c]).mode[0] for c in df.columns])

'dzqckwsd'

In [19]:
"".join([df[c].value_counts().index[-1] for c in df.columns])

'lragovly'