In [1]:
%load_ext lab_black

from puzzles import load_puzzle

s = load_puzzle(3)

In [2]:
with open("data/03.txt", "w") as f:
    f.write(s)

# First Part

In [3]:
import pandas as pd
import numpy as np

In [43]:
data = s.strip().split("\n")

df = pd.DataFrame([list(x) for x in data])

df.shape

(1000, 12)

In [34]:
gamma = np.array([int(df[c].value_counts().index[0]) for c in df.columns])
gamma

array([1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1])

In [35]:
epsilon = 1 - gamma
epsilon

array([0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0])

In [38]:
int("".join(gamma.astype(str)), 2)

3797

In [39]:
int("".join(epsilon.astype(str)), 2)

298

In [40]:
3797 * 298

1131506

# Second Part

In [56]:
from functools import reduce

In [57]:
def binary_and(x, y):
    return x & y

In [76]:
df_oxy = df

for i in df_oxy.columns:
    d = df_oxy[i].value_counts()
    mf = str(1 if d.diff().sum() == 0 else int(d.index[0]))
    df_oxy = df_oxy.loc[df_oxy[i] == mf]

df_oxy

    0  1  2  3  4  5  6  7  8  9  10 11
944  1  1  1  1  1  1  1  1  1  0  0  1

In [77]:
int("".join(df_oxy.iloc[0].astype(str)), 2)

4089

In [81]:
df_co2 = df

for i in df_co2.columns:
    d = df_co2[i].value_counts()
    mf = str(0 if d.diff().sum() == 0 else int(d.index[1]))
    df_co2 = df_co2.loc[df_co2[i] == mf]
    if df_co2.shape[0] == 1:
        break
df_co2

    0  1  2  3  4  5  6  7  8  9  10 11
230  0  1  1  1  1  0  0  0  0  0  1  1

In [82]:
int("".join(df_co2.iloc[0].astype(str)), 2)

1923

In [83]:
4089 * 1923

7863147