In [1]:
%load_ext lab_black

from puzzles import load_puzzle

s = load_puzzle(2)

In [2]:
with open("data/02.txt", "w") as f:
    f.write(s)

---

# First Part

In [31]:
x = 0
depth = 0

for line in s.strip().split("\n"):
    command, value = line.split()
    value = int(value)
    if command == "forward":
        x += value
    elif command == "up":
        depth -= value
    elif command == "down":
        depth += value

In [34]:
x, depth, x * depth

(1850, 927, 1714950)

---

In [18]:
import pandas as pd

In [15]:
commands, values = zip(*[l.split() for l in s.strip().split("\n")])

df = pd.DataFrame(data={"command": commands, "value": values})

df["value"] = df["value"].astype(int)

In [36]:
df.loc[df["command"] == "forward", "value"].sum()

1850

In [37]:
mask_upwards = df["command"] == "up"
mask_downwards = df["command"] == "down"

df.loc[mask_downwards, "value"].sum() - df.loc[mask_upwards, "value"].sum()

927

In [38]:
1850 * 927

1714950

---

# Second Part

In [39]:
x = 0
depth = 0
aim = 0

for line in s.strip().split("\n"):
    command, value = line.split()
    value = int(value)
    if command == "forward":
        x += value
        depth += value * aim
    elif command == "up":
        aim -= value
    elif command == "down":
        aim += value

x, depth, x * depth

(1850, 692961, 1281977850)

---

In [40]:
df

     command  value
0    forward      1
1       down      6
2    forward      8
3         up      3
4       down      1
..       ...    ...
995     down      2
996  forward      7
997     down      2
998  forward      8
999  forward      3

[1000 rows x 2 columns]